*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(
rgba(0,0,0,0.4),
rgba(0,0,0,0.4)
),

url("https://images.unsplash.com/photo-1615461066841-6116e61058f4")
center/cover no-repeat;

}

/* back button */

.back-home{

position:absolute;
top:20px;
left:20px;

color:white;
text-decoration:none;
font-size:16px;
font-weight:500;

}

/* wrapper */

.login-wrapper{

width:100%;
display:flex;
justify-content:center;
align-items:center;

}

/* card */

.admin-card{

width:360px;

background:white;

padding:40px;

border-radius:12px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,0.3);

}

/* logo */

.logo{

font-size:40px;
margin-bottom:10px;

}

/* title */

.brand{

color:#d10000;
margin-bottom:5px;

}

.title{

font-weight:500;
margin-bottom:5px;

}

.subtitle{

color:#666;
font-size:14px;
margin-bottom:25px;

}

/* inputs */

.input-group{

margin-bottom:15px;

}

.input-group input{

width:100%;
padding:12px;

border:1px solid #ddd;
border-radius:6px;

font-size:14px;

}

/* options */

.options{

text-align:right;
margin-bottom:20px;

}

.options a{

font-size:13px;
text-decoration:none;
color:#d10000;

}

/* button */

.login-btn{

width:100%;

padding:12px;

background:#d10000;

border:none;

color:white;

font-size:16px;

border-radius:6px;

cursor:pointer;

transition:0.3s;

}

.login-btn:hover{

background:#a50000;

}

/* warning */

.warning{

margin-top:15px;
font-size:12px;
color:#999;

}